---
---

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700,900|Montserrat:400,700');

//variables
$primary-color: #274555;


//reset
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Nunito, sans-serif;
	font-size: 18px;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a, button {
	cursor: pointer;
}
//header styles
header.header-site {
	background-color: $primary-color;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid darken($primary-color,20%);

	.content-header {
		width: 100%;
		text-align: center;
		color: #FFF;
		padding-right: 15px;
		padding-left: 15px;

		.davidgaitan{
			margin: 0;
		}
		a {
			color: #FFF;
			text-decoration: none;	
		}
		h3 {
			margin-top: 0;
			margin-bottom: 10px
		}
	}
}

//grid styles
.site-container {
	max-width: 700px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.column {
	width: 100%;
	position: relative;
	padding: 1rem;
}
.two-columns {
	@extend .column;
	width: 50%;
}

@media (max-width: 768px) {
	.column, .two-columns {
		width: 100%;
	}
}

//helpers
.davidgaitan {
	font-family: Montserrat, sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}
.text-center {
	text-align: center;
}
.p-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.line-center {
	width: 100px;
	border-bottom: 1px solid #ccc;
	margin: 10px auto;
}

//elements
.list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		padding: 0 10px;

		a {
			color: #FFF;
			font-size: 1.5rem;
		}
	}
}

.post-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 10px 0;
		border-bottom: 1px solid #eee;
		margin-bottom: 0;
		&:last-child {
			border-bottom: 0;
		}
	}
}