---
layout: site
title: David Gaitan
description: Bienvenido a mi blog personal, donde comparto un poco de temas variados, cine y sobre todo desarrollo web.
keywords: Desarrollo web, David gaitan, programacion, CSS, HTML
image: /assets/img/post-header.jpg
---

<main>
	<section class="feed">
		{% for post in site.posts %}
	  		<div class="article">
	  			<h4 class="article-headline">
	  				<a href="{{ post.url }}">
	  					{{ post.title }}
	  				</a>
	  			</h4>
	  			<div class="article-content">
	  				{% if post.thumbnail %}
	  					<img src="{{ post.thumbnail }}" alt="">
	  				{% endif %}
	  			</div>
	  		</div>
		{% endfor %}		
	</section>
</main>
              
